body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ffffff, #ffffff);
  color: white;
  padding: 20px;
  color: #4CAF50;
}
.emer{
  font-size: 19px;
}
.second-iteam{
  display: grid;
  align-items: center;
  text-align: center;
  background: linear-gradient(90deg, #09d960, #4fd13b);
  padding: 5px;
  color: #ffffff;
}
.coin-s{
    height: 20px;
    align-items: center;
    text-align: center;
    text-align: center;
}
.hrt{
  height: 20px;
    align-items: center;
    text-align: center;
    text-align: center;
}
.copy-icon{
  background-color: #4CAF50;
  color: white;
  border-radius: 8px;
}

.logo {
  height: 40px;
  margin-right: 10px;
}
.logo-p{
  height: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9px;
}

.logo-title {
  display: flex;
  align-items: center;
}

.header-right span {
  margin-left: 20px;
  font-size: 1.1em;
}
main {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.bati{
  height: 30px;
}

.directory-grid {
  flex: 3;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.service-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 22px rgba(0,0,0,0.1);
  position: relative;

}

.service-card .number {
  font-size: 1.5em;
  font-weight: bold;
}

.copy-btn, .call-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 8px;
}

.copy-btn { background-color: #ddd; }
.call-btn { background-color: #4CAF50; color: white; }

.like-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.call-history-section {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

.history-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#callHistoryList {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

#callHistoryList li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 0.9em;
}

.all{
padding: 3px 2px;
color: #555;
background-color: #f2f2f2;
font-size: 13px;
width: 70px;
border-radius: 50px;
text-align: center;

}
